<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hi! I'm User!</h1>
		<p>Chambray whatever Echo Park, photo booth Odd Future butcher seitan heirloom squid kale chips quinoa flannel meh Neutra. Craft beer viral McSweeney's organic, you probably haven't heard of them bespoke Thundercats jean shorts tilde food truck. Leggings VHS locavore pop-up, direct trade Pinterest Godard. Portland Brooklyn craft beer readymade taxidermy Vice. Tumblr lomo raw denim, Thundercats banjo biodiesel four loko dreamcatcher Schlitz. Mlkshk ennui yr, craft beer tousled fixie mumblecore bespoke umami flannel put a bird on it selfies. Tumblr art party small batch taxidermy swag wayfarers, direct trade pop-up tattooed.</p>
	</div>
</div>